In [1]:
import pandas as pd
import numpy as np

### Load Data

In [2]:
df_intakes = pd.read_csv("https://raw.githubusercontent.com/laknath123/PDS_final_project_animalshelter/main/data/Austin_Animal_Center_Intakes.csv")
df_outcomes = pd.read_csv("https://raw.githubusercontent.com/laknath123/PDS_final_project_animalshelter/main/data/Austin_Animal_Center_Outcomes%20(1).csv")

In [3]:
df_intakes.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [4]:
df_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

## Convert Date Columns to Date Format

1. `df_outcomes` dataset convert `DateTime` `Date of Birth` Columns to Date Format
2. `df_intake` dataset convert `DateTime`column to date format

In [5]:
df_intakes['DateTime']=pd.to_datetime(df_intakes['DateTime'])
df_outcomes['DateTime']=pd.to_datetime(df_outcomes['DateTime'])
df_outcomes['Date of Birth']=pd.to_datetime(df_outcomes['Date of Birth'])

In [6]:
df_outcomes['age'] = df_outcomes['DateTime'] - df_outcomes['Date of Birth']
df_outcomes['age'] = df_outcomes['age'].dt.days

## Remove observations where the animals age is incorrect

In [7]:
"""There are {} rows where the animal age is incorrect in the outcomes dataset and we removed these""".format(df_outcomes[df_outcomes.age<0].shape[0])

'There are 25 rows where the animal age is incorrect in the outcomes dataset and we removed these'

In [8]:
df_outcomes = df_outcomes[df_outcomes.age>0]

In [9]:
"There are {} rows where the animal age is incorrect in the intakes dataset and we removed these".format(df_intakes[df_intakes['Age upon Intake'].str.match('^-\d+')].shape[0])

'There are 8 rows where the animal age is incorrect in the intakes dataset and we removed these'

In [10]:
df_intakes= df_intakes[~df_intakes['Age upon Intake'].str.match('^-\d+')]

## Handling Missing Values

### sex upon intake missing values

In [11]:
df_intakes['Sex upon Intake'].unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown', nan], dtype=object)

Since `Sex upon Intake` has both missing values and unknown values, we coded missing values as **unknown**

In [12]:
df_intakes['Sex upon Intake'] = df_intakes['Sex upon Intake'].fillna("Unknown")

### Outcome Type  missing values

Since `Outcome Type` is our label, we decided to drop rows where this label was missing. There were 22 rows that were missing

In [13]:
df_outcomes['Outcome Type'].isnull().sum()

22

In [14]:
df_outcomes= df_outcomes[~df_outcomes['Outcome Type'].isnull()]

## Outcome Subtype Missing Values

In [15]:
df_outcomes['Outcome Subtype'].unique()

array([nan, 'Partner', 'Foster', 'SCRP', 'Out State', 'Suffering',
       'Underage', 'Snr', 'Rabies Risk', 'In Kennel', 'Offsite',
       'Aggressive', 'Enroute', 'At Vet', 'In Foster', 'Behavior',
       'Medical', 'Field', 'Possible Theft', 'Barn', 'Customer S',
       'Court/Investigation', 'Emer', 'In Surgery', 'Prc', 'Emergency',
       'In State'], dtype=object)

In [16]:
df_outcomes['Outcome Subtype']= df_outcomes['Outcome Subtype'].fillna("Unknown")

In [24]:
df_outcomes.isnull().sum()

Animal ID               0
Name                41047
DateTime                0
MonthYear               0
Date of Birth           0
Outcome Type            0
Outcome Subtype         0
Animal Type             0
Sex upon Outcome        1
Age upon Outcome        3
Breed                   0
Color                   0
age                     0
dtype: int64

In [25]:
df_intakes.isnull().sum()

Animal ID               0
Name                41236
DateTime                0
MonthYear               0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         0
Age upon Intake         0
Breed                   0
Color                   0
dtype: int64

In [26]:
df_outcomes['Name']=df_outcomes['Name'].fillna("Unknown")
df_intakes['Name']=df_intakes.fillna("Unknown")
df_outcomes= df_outcomes[~df_outcomes['Sex upon Outcome'].isnull()]
df_outcomes= df_outcomes[~df_outcomes['Age upon Outcome'].isnull()]

In [28]:
df_outcomes.isnull().sum()

Animal ID           0
Name                0
DateTime            0
MonthYear           0
Date of Birth       0
Outcome Type        0
Outcome Subtype     0
Animal Type         0
Sex upon Outcome    0
Age upon Outcome    0
Breed               0
Color               0
age                 0
dtype: int64

## Merging Intake Data with Outcome Data

Left Join intake data with outcome data

In [18]:
merged_data = pd.merge(df_intakes,df_outcomes,how='left',on='Animal ID',indicator='indicator_col')

In [19]:
merged_data.columns

Index(['Animal ID', 'Name_x', 'DateTime_x', 'MonthYear_x', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type_x', 'Sex upon Intake',
       'Age upon Intake', 'Breed_x', 'Color_x', 'Name_y', 'DateTime_y',
       'MonthYear_y', 'Date of Birth', 'Outcome Type', 'Outcome Subtype',
       'Animal Type_y', 'Sex upon Outcome', 'Age upon Outcome', 'Breed_y',
       'Color_y', 'age', 'indicator_col'],
      dtype='object')

In [20]:
# Renamoing column names between the intake and outcome dataset
merged_data= merged_data.rename(columns={"Name_x": "Name_intakes",
                           "DateTime_x":"DateTime_intake",
                           "MonthYear_x":"MonthYear_intake",
                           "Animal Type_x":"Animal Type_intake",
                           "Breed_x":"Breed_intake",
                           "Color_x":"Color_intake",
                           "Name_y":"Name_outcomes",
                           "DateTime_y":"DateTime_outcomes",
                           "MonthYear_y":"MonthYear_outcomes",
                           "Animal Type_y":"Animal Type_outcomes",
                           "Breed_y":"Breed_outcomes",
                           "Color_y":"Color_outcomes"})

In [21]:
merged_data.head()

,Animal ID,Name_intakes,DateTime_intake,MonthYear_intake,Found Location,Intake Type,Intake Condition,Animal Type_intake,Sex upon Intake,Age upon Intake,...,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_outcomes,Sex upon Outcome,Age upon Outcome,Breed_outcomes,Color_outcomes,age,indicator_col
0,A786884,*Brock,2019-01-03 16:19:00,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,...,2017-01-03,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,735.0,both
1,A706918,Belle,2015-07-05 12:59:00,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,...,2007-07-05,Return to Owner,Unknown,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2922.0,both
2,A724273,Runster,2016-04-14 18:43:00,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,...,2015-04-17,Return to Owner,Unknown,Dog,Neutered Male,1 year,Basenji Mix,Sable/White,370.0,both
3,A665644,NaN,2013-10-21 07:59:00,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,...,2013-09-21,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,30.0,both
4,A682524,Rio,2014-06-29 10:38:00,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,...,2010-06-29,Return to Owner,Unknown,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,1464.0,both

## Saving the Data into the Data folder in Project

In [22]:
from pathlib import Path  
mergedf_filepath = Path('data/merged_df.csv')  
intakedf_filepath = Path('data/intake_df_ready.csv')
outcomedf_filepath = Path('data/outcome_df_ready.csv')


merged_data.to_csv(mergedf_filepath)  
df_intakes.to_csv(intakedf_filepath)
df_outcomes.to_csv(outcomedf_filepath)